/*muuttujat*/
:root {
  --text: black;
}

.aref-ruqaa-regular {
  font-family: "Aref Ruqaa", serif;
  font-weight: 400;
  font-style: normal;
}

.aref-ruqaa-bold {
  font-family: "Aref Ruqaa", serif;
  font-weight: 700;
  font-style: normal;
}

/* Yleinen asettelu */
body {
  font-family: "Aref Ruqaa", serif;
  font-size: 100%;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-image: url("./assets/border-pattern-design.png"),
    url("./assets/border-pattern-design.png"),
    url("./assets/web-graphics-parchment-background.PNG");
  background-repeat: repeat-y, repeat-y, no-repeat;
  background-position: calc(100% - 20px) top, calc(0% + 20px) top, center;
  background-size: 40px, 40px, cover;
  color: var(--text);
}

/* Pääkontaineri */
.main {
  max-width: 1000px;
  margin: 20px auto;
  padding: 80px;
}

/* Asettelu */

.title-container {
  margin: auto;
  padding-left: 0px;
  padding-right: 0px;
}

.right-container {
  margin-left: 100px;
  display: flex;
}

.content-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  margin-bottom: 0;
}

.content-column {
  width: 60%;
  padding: 5px;
}

.image-column {
  width: 40%;
  padding: 0px;
}

.logo-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15rem;
  margin-bottom: 0;
}

.logo-image {
  width: 19%;
  padding: 1%;
}

/* Otsikot */
h1 {
  font-size: 2.5rem;
  color: var(--text);
  text-align: center;
}

h2 {
  font-size: 1.8rem;
  color: var(--text);
  margin-top: 60px;
}

/* Linkit */
a {
  color: var(--text);
  text-decoration: none;
  font-size: 1.2rem;
}

a:hover {
  text-decoration: underline;
}

/* Lista */
ul {
  margin-top: 30px;
  margin-bottom: 30px;
  list-style-type: square;
  padding-left: 20px;
}

ul li {
  margin: 10px 0;
  font-size: 1.4rem;
  font-weight: bold;
}

/* Taulukko */
table {
  width: 60%;
  border-collapse: collapse;
  margin: 20px 0;
}

table th,
table td {
  padding: 10px;
  text-align: left;
}

table th {
  background-color: var(--background);
  font-weight: bold;
  font-size: 1.5rem;
}

/* Kappaleet */
p {
  margin: 1rem 0;
  font-size: 1.4rem;
  font-weight: bold;
}

/* Elementit */

.language-icon {
  width: 18px;
}

.language-button {
  color: var(--text);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  background: none;
  border: none;
}

.language-button:hover {
  text-decoration: underline;
}

.tickets-button {
  display: flex;
  padding: 0.5rem 0.8rem;
  background-color: none;
  color: black;
  text-decoration: none;
  margin: 0;
  width: 8rem;
  font-size: 1.4rem;
  border: 0.18rem solid black;
  border-color: black;
  justify-content: center;
}

.tickets-button:hover {
  text-decoration: none;
  color: #06578e;
  border-color: #06578e;
}

.decorated-header {
  display: flex;
  gap: 0.1rem;
}

.decorated-header img {
  width: 60px;
  height: auto;
  margin: 0;
}

.decorated-header-text {
  font-size: 2.3rem;
  font-weight: bold;
}

.synopsis {
  margin-top: 6rem;
  margin-bottom: 2.4rem;
}

.instruction-paragraph {
  margin: 4rem 0;
}

/* Kuvat */

.header-image {
  margin-top: -30%;
}

.wand-image {
  max-height: 300px;
}

.speksi-logo {
  margin-top: 4rem;
  max-height: 15rem;
}

.follow {
  margin-top: 14rem;
  font-family: "Times New Roman", Times, serif;
}

.follow a {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
}

/* Mediaelementit */
iframe,
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px auto;
}

@media (max-width: 768px) {
  .main {
    max-width: 100%;
    padding: 20px;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p,
  a,
  ul li {
    font-size: 1.2rem;
  }

  .content-row,
  .logo-row {
    flex-direction: column;
    align-items: center;
  }

  .logo-image {
    width: 50%;
  }

  .speksi-logo {
    max-height: 10rem;
  }

  .wand-image {
    max-height: 200px;
  }

  body {
    background-size: 20px, 20px, cover;
  }

  .tickets-button {
    width: 100%;
    font-size: 1.2rem;
  }

  .follow {
    margin-top: 5rem;
  }

  .follow a {
    font-size: 1.4rem;
  }

  table {
    width: 100%;
  }

  table th,
  table td {
    font-size: 1rem;
    padding: 8px;
  }
}
